@font-face {
  font-family: 'NotoSansKR';
  font-weight: 200;
  font-style: normal;
  src:
    url('../fonts/NotoSansKR/NotoSansKR-Thin.woff2'),
    url('../fonts/NotoSansKR/NotoSansKR-Thin.woff'),
    url('../fonts/NotoSansKR/NotoSansKR-Thin.otf') format('opentype'),
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 300;
  font-style: normal;
  src:
    url('../fonts/NotoSansKR/NotoSansKR-Light.woff2'),
    url('../fonts/NotoSansKR/NotoSansKR-Light.woff'),
    url('../fonts/NotoSansKR/NotoSansKR-Light.otf') format('opentype'),
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 400;
  font-style: normal;
  src:
    url('../fonts/NotoSansKR/NotoSansKR-Regular.woff2'),
    url('../fonts/NotoSansKR/NotoSansKR-Regular.woff'),
    url('../fonts/NotoSansKR/NotoSansKR-Regular.otf') format('opentype'),
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 500;
  font-style: normal;
  src:
    url('../fonts/NotoSansKR/NotoSansKR-Medium.woff2'),
    url('../fonts/NotoSansKR/NotoSansKR-Medium.woff'),
    url('../fonts/NotoSansKR/NotoSansKR-Medium.otf') format('opentype'),
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 700;
  font-style: normal;
  src:
    url('../fonts/NotoSansKR/NotoSansKR-Bold.woff2'),
    url('../fonts/NotoSansKR/NotoSansKR-Bold.woff'),
    url('../fonts/NotoSansKR/NotoSansKR-Bold.otf') format('opentype'),
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 900;
  font-style: normal;
  src:
    url('../fonts/NotoSansKR/NotoSansKR-Black.woff2'),
    url('../fonts/NotoSansKR/NotoSansKR-Black.woff'),
    url('../fonts/NotoSansKR/NotoSansKR-Black.otf') format('opentype'),
}

@font-face {
  font-family: 'SCoreDream';
  font-weight: 100;
  font-style: normal;
  src:
    url('../fonts/SCoreDream/SCDream1.otf') format('opentype');
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 200;
  font-style: normal;
  src:
    url('../fonts/SCoreDream/SCDream2.otf') format('opentype');
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 300;
  font-style: normal;
  src:
    url('../fonts/SCoreDream/SCDream3.otf') format('opentype');
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 400;
  font-style: normal;
  src:
    url('../fonts/SCoreDream/SCDream4.otf') format('opentype');
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 500;
  font-style: normal;
  src:
    url('../fonts/SCoreDream/SCDream5.otf') format('opentype');
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 600;
  font-style: normal;
  src:
    url('../fonts/SCoreDream/SCDream6.otf') format('opentype');
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 700;
  font-style: normal;
  src:
    url('../fonts/SCoreDream/SCDream7.otf') format('opentype');
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 800;
  font-style: normal;
  src:
    url('../fonts/SCoreDream/SCDream8.otf') format('opentype');
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 900;
  font-style: normal;
  src:
    url('../fonts/SCoreDream/SCDream9.otf') format('opentype');
}
