@import 'reset';
@import 'module';
@import 'fonts';
@import 'fullpage';
@import 'layout';
@import 'icon';
@import 'button';
@import 'animate';
@import 'form';
@import 'tab';
@import 'modal';
@import 'mo';

// ir
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}
